body{
    background-image: url(instagrama-e1561536141692.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 250vh;
    width: 100%;
}
h1{
    font-family: inter;
    font-size: 55px;
    font-weight: 800;
    font-style: italic;
    background: linear-gradient(270deg, #b527cf, #3bd9d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 50%;
    left: 50%;
}
h2{
    font-size: 40px;
    color: purple;
}

.container{
    
        position: absolute;
        left: 2vh;
        top: 300px
        
        
}
.imagen{
    position: absolute;
        left: 40vh;
        top: 300px
}
